.DS_Store
*.class
*.jar
/.lein-*
/.nrepl-port
/.repl
/checkouts/
/classes/
/lib/
/log/
/out/
/resources/public/js/
/resources/public/css
/target/
figwheel_server.log
pom.xml
pom.xml.asc
.idea/
.java-version
cookies
clojure-template.iml
